In [66]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [67]:
df = pd.read_csv("Leads-data.csv")

In [68]:
df.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,duration,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,NaN,NaN,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [69]:
df.columns

Index(['Unnamed: 0', 'Agent_id', 'status', 'lost_reason', 'budget', 'duration',
       'source', 'source_city', 'source_country', 'utm_source', 'utm_medium',
       'des_city', 'des_country', 'room_type', 'lead_id'],
      dtype='object')

In [70]:
df['source_city'].nunique()

4315

In [71]:
df['source_city'][1]

nan

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46317 entries, 0 to 46316
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      46317 non-null  int64
 1   Agent_id        46317 non-null  object
 2   status          46317 non-null  object
 3   lost_reason     43244 non-null  object
 4   budget          42623 non-null  object
 5   duration        43981 non-null  object
 6   source          40366 non-null  object
 7   source_city     37486 non-null  object
 8   source_country  37695 non-null  object
 9   utm_source      46256 non-null  object
 10  utm_medium      43133 non-null  object
 11  des_city        43788 non-null  object
 12  des_country     43788 non-null  object
 13  room_type       22826 non-null  object
 14  lead_id         46317 non-null  object
dtypes: int64(1), object(14)
memory usage: 5.3+ MB

In [73]:
df.isnull().sum()

Unnamed: 0            0
Agent_id              0
status                0
lost_reason        3073
budget             3694
duration           2336
source             5951
source_city        8831
source_country     8622
utm_source           61
utm_medium         3184
des_city           2529
des_country        2529
room_type         23491
lead_id               0
dtype: int64

In [74]:
df.drop(['Agent_id','lead_id','Unnamed: 0'],axis=1,inplace=True)

In [75]:
round(df.isnull().sum() /46608 *100,2)

status             0.00
lost_reason        6.59
budget             7.93
duration           5.01
source            12.77
source_city       18.95
source_country    18.50
utm_source         0.13
utm_medium         6.83
des_city           5.43
des_country        5.43
room_type         50.40
dtype: float64

In [76]:
df['room_type'].value_counts()

Ensuite         12379
Studio           6316
Entire Place     4128
Non-Ensuite         2
Twin-Studio         1
Name: room_type, dtype: int64

In [77]:
# TO CHECK THE NULL % IN THE COLUMNS
def null_check_columns(df,per):
    delete_columns = []
    columns = df.columns
    for i in columns:
        if (round(df[i].isnull().sum() /len(df[i].index) *100,2) > per):
            delete_columns.append(i)
    return delete_columns

In [78]:
null_check_columns(df,40)

['room_type']

In [79]:
len(df.index)

46317

In [80]:
df['status'].value_counts()

LOST    43244
WON      3073
Name: status, dtype: int64

In [81]:
df['lost_reason'].value_counts()

Low availability                  8892
Not responding                    7827
Not interested                    6449
Low budget                        5505
Wants private accommodation       2781
Short stay                        2264
Not a student                     1518
Just Enquiring                    1263
Inadequate details                 827
Semester stay                      817
Booked with manager                676
Junk lead                          629
Booked on campus accommodation     613
Supply issue                       538
No supply                          534
Not serving in that region         411
Repeat lead                        394
Booked with competitor             356
Not going to university            329
Distance issue                     219
Junk lead/ Just Enquiring          147
Lead issue                         127
Looking for admission               41
Didn't respond in time              35
Visa/admission denied               17
Guarantor issue                     17
Looking for Scholarship              8
Looking for loan                     5
Underage student                     4
Cross sell                           1
Name: lost_reason, dtype: int64

In [82]:
df.head()

,status,lost_reason,budget,duration,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type
0,LOST,Not responding,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
1,LOST,Low budget,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
2,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite
3,LOST,Low budget,0-0,0,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
4,LOST,Junk lead,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,NaN,NaN,NaN

In [83]:
df.drop(['room_type'],axis=1,inplace=True)

In [84]:
df['status'] = df['status'].replace("LOST",0)

In [85]:
df['status'] = df['status'].replace("WON",1)

In [86]:
df['status'].value_counts()

0    43244
1     3073
Name: status, dtype: int64

In [87]:
round(df['lost_reason'].value_counts() /46317 *100,1)

Low availability                  19.2
Not responding                    16.9
Not interested                    13.9
Low budget                        11.9
Wants private accommodation        6.0
Short stay                         4.9
Not a student                      3.3
Just Enquiring                     2.7
Inadequate details                 1.8
Semester stay                      1.8
Booked with manager                1.5
Junk lead                          1.4
Booked on campus accommodation     1.3
Supply issue                       1.2
No supply                          1.2
Not serving in that region         0.9
Repeat lead                        0.9
Booked with competitor             0.8
Not going to university            0.7
Distance issue                     0.5
Junk lead/ Just Enquiring          0.3
Lead issue                         0.3
Looking for admission              0.1
Didn't respond in time             0.1
Visa/admission denied              0.0
Guarantor issue                    0.0
Looking for Scholarship            0.0
Looking for loan                   0.0
Underage student                   0.0
Cross sell                         0.0
Name: lost_reason, dtype: float64

In [88]:
df['lost_reason'].value_counts().index

Index(['Low availability', 'Not responding', 'Not interested', 'Low budget',
       'Wants private accommodation', 'Short stay', 'Not a student',
       'Just Enquiring', 'Inadequate details', 'Semester stay',
       'Booked with manager', 'Junk lead', 'Booked on campus accommodation',
       'Supply issue', 'No supply', 'Not serving in that region',
       'Repeat lead', 'Booked with competitor', 'Not going to university',
       'Distance issue', 'Junk lead/ Just Enquiring', 'Lead issue',
       'Looking for admission', 'Didn't respond in time',
       'Visa/admission denied', 'Guarantor issue', 'Looking for Scholarship',
       'Looking for loan', 'Underage student', 'Cross sell'],
      dtype='object')

In [89]:
lost_reason = [ 'Not serving in that region','Repeat lead', 'Booked with competitor', 'Not going to university','Distance issue', 'Junk lead/ Just Enquiring', 'Lead issue','Looking for admission', "Didn't respond in time",'Visa/admission denied', 'Guarantor issue', 'Looking for Scholarship','Looking for loan', 'Underage student', 'Cross sell']

In [90]:
df['lost_reason'] = df['lost_reason'].replace(lost_reason,'others')

In [91]:
df['lost_reason'].value_counts()

Low availability                  8892
Not responding                    7827
Not interested                    6449
Low budget                        5505
Wants private accommodation       2781
Short stay                        2264
others                            2111
Not a student                     1518
Just Enquiring                    1263
Inadequate details                 827
Semester stay                      817
Booked with manager                676
Junk lead                          629
Booked on campus accommodation     613
Supply issue                       538
No supply                          534
Name: lost_reason, dtype: int64

In [108]:
round(df['budget'].value_counts() /46317 *100,1)[:10]

90                      21.1
150                     19.2
0                       12.3
210                      4.6
100                      3.3
150                      2.3
£241 - £300 Per week     1.5
> 300£ Per Week          1.5
200                      1.4
120                      1.2
Name: budget, dtype: float64

In [109]:
budget_values = round(df['budget'].value_counts() /46317 *100,1).index

In [102]:
df['budget'] = df['budget'].replace('£60 - £120 Per week',90)

In [103]:
df['budget'] = df['budget'].replace('£121 - £180 Per Week',150)

In [104]:
df['budget'] = df['budget'].replace('0-0',0)

In [106]:
df['budget'] = df['budget'].replace('100',100)

In [105]:
df['budget'] = df['budget'].replace('£181 - £240 Per Week',210)

In [ ]:
df['budget'] = df['budget'].replace('£60 - £120 Per week',90)

In [119]:
index = 0
for i in df['budget']:
    if df['budget'][index] == 90 or df['budget'][index] == 210 or df['budget'][index] == 100 or df['budget'][index] ==0 or df['budget'][index] == 150:
        pass
    else:
        df['budget'][index] = 190
    index += 1

C:\Users\Uttam Kumar\AppData\Local\Temp\ipykernel_16856\3538473846.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['budget'][index] = 190

In [120]:
df['budget'].value_counts()

190    18318
90      9750
150     8878
0       5719
210     2143
100     1509
Name: budget, dtype: int64

In [127]:
round(df['duration'].value_counts() /46317 *100,1)[:50]

Full Year Course Stay 40 - 44 weeks           23.7
0                                             16.3
Complete Education Year Stay 50 - 52 weeks    13.9
51                                             8.5
Semester Stay 20 - 24 weeks                    5.9
Summer/Short Stay 8 - 12 weeks                 4.9
lease                                          3.5
full-course-stay                               2.6
full-year-stay                                 2.1
Other                                          2.0
44                                             1.8
51 weeks                                       1.2
semester-stay                                  1.0
short-stay                                     1.0
44 weeks                                       0.6
other                                          0.4
45                                             0.3
43                                             0.3
1                                              0.2
1 year                                         0.2
52                                             0.2
42                                             0.2
40                                             0.2
46                                             0.2
48                                             0.2
50                                             0.2
39                                             0.1
12                                             0.1
full year stay                                 0.1
24-36                                          0.1
Dec-24                                         0.1
16                                             0.1
294                                            0.1
3                                              0.1
17                                             0.1
41                                             0.1
25                                             0.1
84                                             0.1
38                                             0.1
14                                             0.1
40 - 44 weeks                                  0.1
2                                              0.1
<=8                                            0.1
6 months                                       0.0
24                                             0.0
51 week                                        0.0
36                                             0.0
357                                            0.0
50 - 52 weeks                                  0.0
23                                             0.0
Name: duration, dtype: float64

In [128]:
df['duration'] = df['duration'].replace('Full Year Course Stay 40 - 44 weeks',42)

In [129]:
df['duration'] = df['duration'].replace('0',0)

In [130]:
df['duration'] = df['duration'].replace('Complete Education Year Stay 50 - 52 weeks',51)

In [131]:
df['duration'] = df['duration'].replace('51',51)

In [133]:
df['duration'] = df['duration'].replace('Summer/Short Stay 8 - 12 weeks',10)

In [137]:
index = 0
for i in df['duration']:
    # if df['budget'][index] == 90 or df['budget'][index] == 210 or df['budget'][index] == 100 or df['budget'][index] ==0 or df['budget'][index] == 150:
    if df['duration'][index] in [10,51,0,42]:
        pass
    else:
        df['duration'][index] = 'others'
    index += 1

C:\Users\Uttam Kumar\AppData\Local\Temp\ipykernel_16856\2715850293.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'][index] = 'others'

In [138]:
df['duration'].value_counts()

others    15128
42        11000
51        10403
0          7538
10         2248
Name: duration, dtype: int64

In [139]:
df.to_csv('lead_pre.csv')